<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Phase 1</title>
    </head>
    <body>
      <h1>{{title}}</h1>
        <form action="" method="post">
            {{ form.csrf }}

            <div class="input text">
                {{ form.program.label }} {{ form.program }}
            </div>

            <div class="input submit">
                <input type="submit" value="Run" />
            </div>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </body>
</html>
